
@{
}

@model Entertainer

<ul>
    <li>Entertainer ID: @Model.EntertainerId</li>
    <li>Stage Name: @Model.EntStageName</li>
    <li>SSN: @Model.EntSsn</li>
    <li>Street Address: @Model.EntStreetAddress</li>
    <li>City: @Model.EntCity</li>
    <li>State: @Model.EntState</li>
    <li>Zip Code: @Model.EntZipCode</li>
    <li>Phone Number: @Model.EntPhoneNumber</li>
    <li>Web Page: @Model.EntWebPage</li>
    <li>Email Address: @Model.EntEmailAddress</li>
    <li>Date Entered: @Model.DateEntered</li>
</ul><br>
<form method="get" asp-action="Edit">
    <input type="hidden" value="@Model.EntertainerId" name="id" />
    <button type="Submit">Edit</button>
</form>
<form method="get" asp-action="Delete">
    <input type="hidden" value="@Model.EntertainerId" name="id" />
    <button type="Submit">Delete</button>
</form>
